certifi==2021.10.8
charset-normalizer==2.0.6
featurestore @ https://dev.feature-store.h2o.ai/static/featurestore-0.0.31-py2.py3-none-any.whl
grpcio==1.36.1
grpcio-tools==1.36.1
idna==3.2
jproperties==2.1.1
protobuf==3.15.6
requests==2.26.0
six==1.16.0
urllib3==1.26.7
